    <!-- Main Content -->
@using PagedList;
@using PagedList.Mvc;

@using madozdev_blog.Models

@model IPagedList<BlogPost>
    <div class="container mb-lg-5">
        <div class="row">
            <div class="offset-md-3 col-md-6" >

                @foreach (var blogPost in Model)
                {

                    @Html.ActionLink(blogPost.Title, "Details", "BlogPosts", new { slug = blogPost.Slug }, new { @class = "post-title h3 font-weight-bold" })

                    <div class="ui card fluid mb-5 wow fadeIn">
                        <div class="image">
                            <img src="~/Uploads/@blogPost.MediaURL">
                        </div>
                        <div class="content">
                            
                            <div class="meta">
                                <span class="date">Posted on @Html.Raw(blogPost.Created.ToString("MMM dd,yyyy"))</span>
                            </div>
                            <div class="description">
                                @Html.Raw(blogPost.Body)
                            </div>
                        </div>
                        <div class="extra content">
                  
                            <i class="user icon"></i> @Html.ActionLink(@blogPost.Comments.Count() + " Comments".ToString(), "Details", "BlogPosts", new { slug = blogPost.Slug }, true)

                        </div>
                    </div>
                }


            </div>
            <div class="col-md-3">

                <div id="newsTest"></div>

            </div>

        </div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

