<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christophe Madoz blog</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Style/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->

    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Style/clean-blog.min.css" rel="stylesheet" />
</head>

<body style="background-image: url('/Images/hexagone.jpg');" >

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="">MadozDev</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    @if (@User.Identity.IsAuthenticated)
                    {


                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Blog List", "Index", "BlogPosts")
                            </li>

                            <li class="nav-item">

                                @Html.ActionLink("Create New Post", "Create", "BlogPosts")
                            </li>
                        }

                        <li class="nav-item">
                            @Html.ActionLink("Log Out", "LogOff", "Account")
                        </li>
                       
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Log In", "Login", "Account")
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "Account")
                        </li>
                    }





                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/Images/biarizt.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Developer's Blog</h1>
                        

                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form offset-md-2 col-md-8", id = "form26" }))
                        {

                            <div class="ui segment mt-4  " style="background-color:#34312d; opacity:0.8; margin-bottom:-100px;" >
                               
                                <div class="ui action input col-md-12 ">
                                    <input type="text" id="searchStr" name="searchStr" placeholder="Search blogs...">
                                    <button class="ui icon button">
                                        <i class="search icon"></i>
                                    </button>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </header>

    @RenderBody()


    <hr>

    <!-- Footer -->
    <footer style="background-color:#34312d;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright " style="color:white;">Copyright &copy; MadozDev 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/clean-blog.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/wow.min.js"></script>

    <script>

        //93eeec3ea861403ab1b5ded7356e588b  newsapi.org



        $(document).ready(function() {
            
               
                $.ajax({

                    url: "https://newsapi.org/v2/everything?q=apple&from=2019-10-20&to=2019-10-20&sortBy=popularity&apiKey=93eeec3ea861403ab1b5ded7356e588b",
                    method: "Get",
                    dataType: 'json', 
                    success: function(data){
  
                        console.log(data.articles.length);
                        for (var i = 0; i < data.articles.length; i++) {
                            createNews(data.articles[0].title, data.articles[i].title,
                            data.articles[i].content, data.articles[i].urlToImage,
                            data.articles[i].author, data.articles[i].publishedAt,data.articles[i].url);

                        }

                    },
                    error: function () {
                        console.log(data);
                    }
                })




            function create(contentNews) {
                var mainContainer = document.getElementById('newsTest')
                var container = document.createElement('div');
                container.classList.add('container');
                var intro = document.createElement('span');
                intro.classList.add('intro');
                var name = document.createElement('span');
                name.id = 'name';
                var introText = document.createTextNode(contentNews);
              
                var nameText = document.createTextNode('World!rtertertertertert');

                name.appendChild(nameText);
                intro.appendChild(introText);
                container.appendChild(intro);
                container.appendChild(name);

                mainContainer.appendChild(container);
            }

            function createNews(title,description,contentNews,src,author,datePublished,url)
            {
                var contentNewsNode = document.createTextNode(contentNews);
                var titleNode = document.createTextNode(title);
                var description = document.createTextNode(description);
                var author = document.createTextNode(author);
                var datePublished = document.createTextNode(datePublished);
                var urlPage = document.createTextNode(url);

                var newsContainer = document.getElementById('newsTest');

                var container = document.createElement('div');
                container.classList.add('card');

                var imageNews = document.createElement('img');
                imageNews.classList.add('card-img-top');
                imageNews.src = src;

                var innerContainer = document.createElement('div')
                innerContainer.classList.add('card-body');

                var cardTitle = document.createElement('h5');
                cardTitle.classList.add('card-title');
                cardTitle.appendChild(titleNode);

                var paragraph = document.createElement('p');
                paragraph.classList.add('card-text');
                paragraph.appendChild(contentNewsNode);

                var btn = document.createElement('a');
                btn.classList.add('ui');
                btn.classList.add('blue');
                 btn.classList.add('button');
                btn.href = url;
                btn.innerText = "Visit Page";

                innerContainer.appendChild(cardTitle);
                innerContainer.appendChild(paragraph);
                innerContainer.appendChild(btn);


                container.appendChild(imageNews);
                container.appendChild(innerContainer);
                container.appendChild(document.createElement('hr'));

                newsContainer.appendChild(container);

            }




          
        });

        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
       

    </script>

    <script>
        
       wow = new WOW(
           {
             boxClass: 'wow',
	         animateClass: 'animated',

	        offset:100

	       });

        wow.init();

    </script>

</body>

</html>
